<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="agent" type="BoxedIce.ServerDensity.Agent.AgentConfigurationSection, BoxedIce.ServerDensity.Agent" />
  </configSections>
  <log4net>
    <appender name="EventLog" type="log4net.Appender.EventLogAppender" >
      <param name="ApplicationName" value="Server Density" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%m" />
      </layout>
    </appender>
    <root>
      <level value="WARN" />
      <appender-ref ref="EventLog" />
    </root>
  </log4net>
  <agent
    url=""
    key=""
    iisStatus="false"
    pluginDirectory=""
    sqlServerConnectionString=""
   />
</configuration>
